*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.section-1{
    height: 100vh;
    width: 100%;
    background: #e2e2d2;
    position: relative;
    padding: 20px 100px;
}
.section-2{
    height: 100vh;
    width: 100%;
    background: #e2e2d2;
    background-size: cover;
    height: 2vh;
    position: relative;
    padding: 20px 100px;
}
.section-1 nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-1  nav .logo .dot{
    color: #dc143c;
    font-size: 45px;
}
.section-1 nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 30px;
}
.section-1 nav  ul li a {
    text-decoration: none;
    font-size: 15px;
    color: #000;
    font-weight: bold;
}
.section-1 nav ul li a:hover{
    color: #dc143c;
}
.section-1 nav ul li .log-in{
    color: #dc143c;
}
.section-1 nav ul li .btn-1{
    border: 1px solid #dc143c;
    color: #dc143c;
    padding: 9px 15px;
}
.section-1 nav ul li .btn-1:hover{
    color: #fff;
    background: #dc143c;
}
.section-1 .container-1{
    display: flex;
    justify-content: space-between;
}
.section-1 .container-1 .contains-1{
    margin: 80px;
    position: absolute;
}
.section-1 .container-1 .contains-1 h1{
    font-size: 50px;
}
.section-1 .container-1 .contains-1 .btn-2{
    padding: 20px 0;
    margin-top: 20px;
}
.section-1 .container-1 .contains-1 .btn-2 a{
    color: #fff;
    background: #dc143c;
    padding: 12px 20px;
    text-decoration: none;
}
.section-1 .container-1 .contains-1 .btn-2 a:hover{
    color: #dc143c;
    border: 1px solid #dc143c;
    background: transparent;
}
.section-1 .container-1 .contains-2 img{
    width: 790px;
    margin: 20px;
    padding: 20px;
    transform: translate(350px, 0px);
    overflow: hidden;
}
.section-1 .container-1 .contains-3 h5{
    font-size: 60px;
    display: flexbox;
}